* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container {
  width: 50vw;
  border: 1px solid black;
  display: flex;
  overflow: hidden;
}

.right_container {
  width: 40%;
  height: 100%;
  border: 1px solid black;
}
.name {
  margin: 2px 0;
}
.title {
  margin: 2px 0;
}
.profile_box {
  height: 30%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1574b0;
  color: white;
  padding: 10px;
}

.linked_github_container {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  margin: 2px 0;
}

.contact_div {
  color: white;
  background-color: rgba(59, 57, 57, 0.925);
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  width: 80%;
  margin-top: 22px;
}
hr {
  margin-bottom: 15px;
  height: 2px;
  background-color: white;
}
.faded {
  opacity: 0.5;
}

.skills {
  width: 80%;
  margin-top: 20px;
}
.progressbars {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progressbars label {
  width: 80%;
}

.certificate_section {
  width: 80%;
  margin-top: 20px;
}

.certicates_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* ------------------------------------------------ */
.left_container {
  width: 60%;
  height: 100%;
  border: 1px solid rgb(218, 50, 50);
  padding: 0 25px;
  color: black;
  background-color: whitesmoke;
}

.objective_container {
  margin: 15px 0;
}

.left_container h3 {
  color: rgba(79, 54, 240, 0.795);
}

.left_container hr {
  height: 2px;
  background-color: rgb(3, 2, 2);
  width: 100%;
}

.exp {
  display: flex;
  padding: 5px 0;
  /* justify-content: space-around; */
  width: 100%;
}

.exp .arrow_icon {
  width: 10%;
}
.exp .roles {
  width: 70%;
}

.project {
  margin-top: 10px;
}
